#snackbar {
    visibility: hidden;
    min-width: 250px;
    background-color: #1b1818;
    color: #f9fafb;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 20px;
    opacity: 80%;
    transform: translateX(-50%);
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 20px;
        opacity: 80%;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 20px;
        opacity: 80%;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 20px;
        opacity: 80%;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 20px;
        opacity: 80%;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}
