:root {
    --background-color: rgba(32, 32, 32, 1);
    --text-color: rgba(180, 180, 180, 1);
    --icon-color: rgba(139, 195, 74, 1);
    --hover-color: rgba(139, 195, 74, 1);
    --selected-hover-color: #fff;
    --selected-color: rgba(139, 195, 74, 1);
    --selected-text-color: rgba(32, 32, 32, 1);
}

a {
    color: var(--text-color);
    text-decoration: none;
}

a.nav-link {
    color: var(--text-color);
    font-size: 25px;
    margin-left: 1rem;
    margin-right: 1rem;
    text-decoration: None;
    transition: all .5s ease-in-out;
}


a.nav-link.current {
    background: var(--selected-color);
    border-radius: 20px;
    color: var(--background-color);
    /* padding: 5px; */
}

a.nav-link.current:hover {
    color: var(--selected-hover-color);
    /* opacity: 0.6; */
    transition: all 0s ease-in-out;
}


a.nav-link:hover {
    color: var(--hover-color);
    transition: all 0s ease-in-out;
}

a:hover {
    color: var(--hover-color);
}




body {
    background: var(--background-color);
    color: var(--text-color);
    font-family: \'Roboto\', sans-serif;
}

h2 {
    color: var(--hover-color);
}

html {
    overflow-y: scroll;
}

i {
    color: var(--icon-color);
}

p {
    color: var(--text-color)
}

p {
    font-size: 20px;
}

.cell .cell-wrap img {
    transform: scale(1);
    transition: 0.3s transform ease;
}

.cell .cell-wrap {
    display: block;
    overflow: hidden;
    position: relative;
}

.cell .cell-wrap:after {
    background: rgba(0, 0, 0, 0.75);
    bottom: 0;
    content: \"\";
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.3s all ease-in-out;
    visibility: hidden;
    z-index: 2;
}

.cell .cell-wrap:hover .project-info {
    margin-top: 0px;
    opacity: 1;
    visibility: visible;
}

.cell .cell-wrap:hover img {
    transform: scale(1.1);
    opacity: 0.05;
    transition: 0.3s all ease-in-out;
}

.cell .cell-wrap:hover {
    text-decoration: none;
}

.cell .cell-wrap:hover:after {
    opacity: 1;
    visibility: visible;
}

.cell .cell-wrap>.project-info h2 {
    font-size: 30px;
    margin-bottom: 0;
}

.cell .cell-wrap>.project-info span {
    font-size: 15px;
    padding: 15px, 20%;
    /* text-transform: uppercase; */
    /* letter-spacing: 0.2rem; */
}

.cell .cell-wrap>.project-info {
    color: var(--text-color);
    margin-top: 20px;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.2s ease-in-out;
    visibility: hidden;
    width: 100%;
    z-index: 3;
}

.cell {
    border: none;
    margin-bottom: 30px;
}

.custom-navbar .navbar-brand {
    font-size: 1.7rem;
}

.custom-navbar {
    padding-top: 50px;
    width: 100%;
}


.download-btn {
    background: var(--selected-color);
    border-radius: 20px;
    color: var(--selected-text-color);
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    padding: 12px;
    text-transform: uppercase;
    transition: 0.2s all ease;
}

.download-btn:active,
.download-btn:focus,
.download-btn:hover {
    outline: none;
}

.download-btn:hover {
    color: var(--selected-hover-color);
    text-decoration: none;
}

.navbar {
    background: var(--background-color);
}

.navbar-brand {
    color: var(--hover-color);
    font-size: 30px;
    font-weight: bold;
}

.navbar-brand:hover {
    color: var(--selected-hover-color);
}

.section {
    padding: 3rem 0;
}

.small-img {
    float: right;
    height: auto;
    width: 75%;
}